.booksidian-plugin__settings .search-input-container {
	width: 100%;
}

.booksidian-plugin__settings input, textarea, select {
	min-width: 200px;
}

.booksidian-plugin__sub-setting {
	padding-left: 2.5em;
	border-top: none;
}

.booksidian-plugin__sub-setting.is-hidden {
	display: none;
}
